@charset "UTF-8";

/*
Paleta de Cores 

Ciano: #C6F6FC
Cinza: #928779
Azul: #3A445D  

*/

:root {
    --cor0: #C6F6FC;
    --cor1: #928779;
    --cor2: #3A445D;
    --cor3: #0A3200;

    --fonte-padrao: arial,verdana,helvetica,sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 90vh;
    width: 90vw;
    background-color: var(--cor2);
}


section {
    display: block;
    margin: auto;
    width: 50vw;
    height: 85vh;
    border-radius: 20px ;
    background-color: white;
    margin-top: 50px;
       
}

div#imagem > img {
    display: block;
    width: 50vw;
    height: 27vh;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
}

img {   
    width: 6vh;
    padding-right: 8px;
}


#formulario {
    margin: 10px;
}

#formulario > h1 {
    font-family: var(--fonte-padrao);
    text-align: center;
    padding-bottom: 10px;
}

#formulario > p {
    font-family: var(--fonte-padrao);
    font-size:  0.8em;
    padding-bottom: 10px;
    text-align: center;

}

#iemail , #isenha {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    margin-bottom: 10px;
    height: 8vh;
    border-radius: 10px;
}

#isenha input, #iemail input {
    background-color: var(--cor0);
    height: 85%;
    border-radius: 8px;
    border: none;
    width: 76%;
    padding-left: 5px;

}


#entrar {
    margin-bottom: 5px;
}

#formulario input[type="submit"] {
    width: 46vw;
    padding: 12px;
    background-color: var(--cor0);
    border-radius: 5px;
    border-color: var(--cor0);
    border: none;
    color: var(--cor2);
    display: block;
    margin: auto;
    
}

#formulario input[type="button"] {
    display: block;
    width: 46vw;
    padding: 12px;
    background-color: white;
    margin: auto;
    border: 2px solid var(--cor0);
    border-radius: 5px;
    color: var(--cor2);
}

#formulario input[type="submit"]:hover, #formulario input[type="button"]:hover {
    cursor: pointer;
    background-color: var(--cor2);
    color: white;
    transition-duration: 0.5s;
}



