@charset "UTF-8";

/*
Paleta de Cores 

Ciano: #C6F6FC
Cinza: #928779
Azul: #3A445D  

*/

/*Todas as Demais Medias */

/*Typical Device Breakpoints
-----------------------------
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: Acima de 1200px

*/

:root {
    --cor0: #C6F6FC;
    --cor1: #928779;
    --cor2: #3A445D;
    --cor3: #0A3200;

    --fonte-padrao: arial,verdana,helvetica,sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

main {
    height: 90vh;
    
}

body {
    background-color: var(--cor2);
}


section {
    display: block;
    margin: auto;
    max-width: 330px;
    height: 510px;
    border-radius: 20px ;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.144);
       
}

div#imagem  {
    background-image: url(../imagens/pexels-pixabay-248921.jpg);
    display: block;
    background-size: cover;
    background-position: left;
    width: 330px;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
}

img {   
    width: 30px;
    height: 30px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#formulario {
    margin: 10px;
}

#formulario > h1 {
    font-family: var(--fonte-padrao);
    text-align: center;
    padding-bottom: 10px;
}

#formulario > p {
    font-family: var(--fonte-padrao);
    font-size:  0.8em;
    padding-bottom: 10px;
    text-align: center;

}

#iemail , #isenha {
    display: flex;
    width: 310px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px;
}

#isenha input, #iemail input {
    background-color: var(--cor0);
    height: 40px;
    border-radius: 8px;
    border: none;
    width: 250px;
    padding-left: 5px;

}

#formulario input[type="submit"] {
    width: 310px;
    padding: 12px;
    background-color: var(--cor0);
    border-radius: 5px;
    border: none;
    color: var(--cor2);
    display: block;
    margin: auto;
    margin-bottom: 5px;
    
}

a  {
    width: 290px;
    padding: 8px;
    background-color: white;
    border: 2px solid var(--cor0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--cor2);
}


span {
    padding-left: 3px;
    color: var(--cor0);
}


#formulario input[type="submit"]:hover, a:hover {
    cursor: pointer;
    background-color: var(--cor2);
    color: white;
    transition-duration: 0.5s;
}




